<launch>
  
  <node pkg="tf" type="static_transform_publisher" name="cad2map" args="0 0 0 0 0 0 cad_map map 10" />

  <node pkg="rviz" type="rviz" name="rviz_viewer" output="screen" args="-d $(find slam)/config/view_map.rviz">
  </node>


  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="DISI_map.yaml" />

  <!-- <node pkg="tf" type="static_transform_publisher" name="cad2map" args="36.2 16.7 0 -1.57079632679 0 0 cad_map map 10" /> -->
  

  <node pkg="ros_interface" type="map_drawer_node" name="map_drawer" output="screen">
    <param name="map_topic" value="cad_map"  />
    <param name="map_file" value="$(find ros_interface)/data/Povo2_floor1_offset.txt" />
  </node>

  
</launch>