<launch>

  <node name="hw_interface" pkg="ros_interface" type="hw_interface_node" />
  <!--<node name="odom_from_encoders_node" pkg="ros_interface" type="odom_from_encoders_node" />  -->


  <node name="pose_pub" pkg="ros_interface" type="pose_pub_node" />

  <node pkg="tf" type="static_transform_publisher" name="base2laser_bcast" args="0. 0 0.45 0 0 0 base_link base_laser 100" />


  <node pkg="slam_toolbox" type="localization_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find slam)/config/mapper_params_localization.yaml" />
  </node>

</launch>
