<launch>
  <!--<include file="$(find povo_world)/launch/povo.launch">
  </include>-->

  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find slam)/config/mapper_params_online_sync.yaml" />
  </node>

  <!--<node pkg="rviz" type="rviz" name="rviz_viewer" output="screen" args="-d $(find slam_toolbox)/config/slam_toolbox_default.rviz">
  </node>-->
</launch>
