<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find povo_world)/models:$GAZEBO_MODEL_PATH"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find povo_world)/worlds/Povo2_floor1.sdf"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find povo_world)/models/robot/model.sdf -sdf -model my_robot -x 40 -y 17" />
  <node pkg="tf" type="static_transform_publisher" name="base2laser_bcast" args="0. 0 0.45 0 0 0 base_link base_laser 100" />

</launch>